html{
    height: 100%;
}

/***** 

STRUCTURAL ELEMENTS 

*****/

body{
    background-color: rgb(36, 41, 46);
    background-image: url(assets/pexels-pixabay-355465.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}


.container{
    margin-left: auto;
    margin-right: auto;
    width: auto;
    overflow: hidden;
    min-height: 100vh;
}

header{
    background-color: rgba(48, 1, 62, 0.0);
    height: fit-content;
    text-align: center;
    margin: auto;
    padding: auto;
    min-height: 10vh;
}

nav{
    background-color: rgb(36, 37, 79);
    box-shadow: -10px 0 15px rgba(0, 0, 0, 0.4);
    text-align: center;
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 5vh;
    position: sticky;
}

main{
    background-color: rgb(21, 19, 46);
    background:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='100%25' width='100%25'%3E%3Cdefs%3E%3Cpattern id='doodad' width='39' height='39' viewBox='0 0 40 40' patternUnits='userSpaceOnUse' patternTransform='rotate(45)'%3E%3Crect width='100%25' height='100%25' fill='rgba(22, 32, 40,1)'/%3E%3Cpath d='M-10 9.5h60v1h-60z' fill='rgba(45, 55, 72,1)'/%3E%3Cpath d='M-10 49.5h60v1h-60z' fill='rgba(45, 55, 72,1)'/%3E%3Cpath d='M-10 28.5h60v3h-60z' fill='rgba(0, 0, 0,1)'/%3E%3Cpath d='M28.5-10v60h3v-60z' fill='rgba(0, 0, 0,1)'/%3E%3Cpath d='M9.5-10v60h1v-60z' fill='rgba(45, 55, 72,1)'/%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23doodad)' height='200%25' width='200%25'/%3E%3C/svg%3E ");
    text-align: center;
    padding-top: 20px;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10px;
    box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.85) inset;
    min-height: 75vh;
    overflow: hidden;
}

footer{
    background-color: rgb(28, 28, 51);
    box-shadow: -10px 0 15px rgba(0, 0, 0, 0.4);
    height: fit-content;
    text-align: center;
    padding-top: 10px;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10px;
    min-height: 10vh;
}

.text-block{
    background-color:#210a47;
    box-shadow: 10px 0 15px rgba(0, 0, 0, 0.4);
    height: fit-content;
    padding: 5%;
    padding-top: 2%;
    border-radius: 20px;
    border-bottom: 4px inset rgba(0, 0, 0, 0.4);
    border-top: 2px outset #180733;
    overflow: hidden;
}

.column{
    float: left;
    width: 33.33%;
}

.column-dark{
    float: left;
    width: 30%;
    background-color: #1f1d21;
    border-style: solid;
    border-width: 1px;
    border-color: #777;
    margin: 1%;
    padding: 0.33%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
  .column-dark {
    width: 100%;
  }

}

/***** 

TEXT 

*****/

h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
}


header h1{
    text-align: center;
    margin: 0;
    list-style-type: none;
    padding: 5px;
    width: 100%;
    text-shadow: 1px 2px 3px rgb(21, 19, 46);
}

.column h1,
.column h3,
.column-dark h1,
.column-dark h3{
    margin: 3%;
}

h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    text-shadow: 1px 2px 3px rgb(21, 19, 46);
}

h3{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
}

p{
    font-family: Calibri, Verdana,  Arial, Helvetica, sans-serif;
    color: white;
    font-size: 16px;
}

.column p,
.column-dark p{
    font-family: Calibri, Verdana,  Arial, Helvetica, sans-serif;
    color: white;
    margin: 2px;
    padding: 8px;
    text-align: left;
    font-size: 17px;
    text-shadow: 1px 2px 3px rgb(21, 19, 46);
}

li{
    font-family: Calibri, Verdana,  Arial, Helvetica, sans-serif;
    color: white;
    font-size: 16px;
    text-align: left;
}

ul{
    font-family: Calibri, Verdana,  Arial, Helvetica, sans-serif;
    color: white;
    font-size: 16px;
    text-align: left;
}

.paragraph{
    font-family: Calibri, Verdana,  Arial, Helvetica, sans-serif;
    color: white;
    margin: 0;
    padding: 15px 0 15px 0;
    text-align: left;
    font-size: 17px;
    text-shadow: 1px 2px 3px rgb(21, 19, 46);
}

a{
    font-family: Calibri, Verdana,  Arial, Helvetica, sans-serif;
    color: aliceblue;
}

nav a:hover{background-color: rgb(128, 128, 128);}

nav a{
    text-decoration: none;
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
}

footer a{
    padding-left: 10px;
    padding-right: 10px;
}

.gallery-text{
    float: left;
    width: 600px;
    height: 300px;
}


/***** 

DROPDOWN MENUS 

*****/

.dropdown{
    position: relative;
    padding: 0;
    margin: 0;
    flex-grow: 1;
    display: inline-block;
}

.dropdownMenu{
    display: none;
    position: absolute;
    background-color: rgb(0, 0, 0, 0.85);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    align-content: center;
}

.dropdown:hover .dropdownMenu{
    display: block;
}

.dropdownOption{
    transition: 0.2s all linear;
    background: transparent;
    -webkit-transition: 0.2s all linear;
    -moz-transition: 0.2s all linear;
    -o-transition: 0.2s all linear;
}

.dropdown a:hover{
    background-color: rgb(88, 82, 128);
}

.dropdown li,
.dropdown a,
.dropdownHeader {
    display: block;
    box-sizing: border-box;
    text-align: center;
    margin: 0;
    list-style-type: none;
    padding: 5px;
    width: 100%;
    line-height: 12pt;
}

/***** 

IMAGES 

*****/

header img{
    max-width: 55%;
    min-width: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 24px;
    padding-bottom: 24px;
}

.inline-img{
/*    display: inline-block;*/
    float: right;
}

.gallery-img{
    width: fit-content;
    height: fit-content;
    border: 1px solid #ccc;
    margin: 1px;
}

.banner-img{
    text-decoration: none;
    display: block;
    flex-grow: 1;
    flex-basis: 100%;
    min-height: calc(10vh + 10px);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    margin: 10px;
    transition: 0.4s all ease-in-out;
    text-align: center;
    box-sizing: border-box;    
}

.banner-img h1{
    border-radius: 10px;
    text-decoration-style: none;
    height: 100%;
    box-sizing: border-box;
    background: rgba(10, 10, 10, 0.5);
    text-shadow: 0 0 10px rgba(10, 10, 10, 0.8);
    color: white;
    min-height: calc(10vh + 10px);
    opacity: 1;
    transition: 0.4s all ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.icon-link{
    padding: 12px;
    border-radius: 5px;
    font-size: 18px;
    text-align: center;
    border: 1px solid rgb(22, 0, 43);
    background-image: linear-gradient(rgb(58, 59, 126), rgb(36, 37, 79));
    margin: 5px 2px;
    display: inline-block;
    transition: 0.2s linear;
}

.icon-link:hover{
    background-image: linear-gradient(rgb(92, 93, 197), rgb(65, 66, 142));
}

div.gallery {
    margin-right: 2px;
    border: 1px solid #ccc;
    width: 280px;
    float: left;
  }
  
div.gallery:hover {
    border: 1px solid #777;
}
  
div.gallery img {
    width: 100%;
    height: auto;
}
  
div.desc {
    background-color: rgb(110, 112, 140);
    padding: 15px;
    text-align: center;
    font-family: Calibri, Verdana,  Arial, Helvetica, sans-serif;
    font-size: 15px;
}


/***** BUTTONS *****/

.button-link{
    box-sizing: border-box;
    text-decoration: none;
    display: block;
    flex-grow: 1;
    flex-basis: 100%;
    min-height: calc(20vh + 30px);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    margin: 10px;
    transition: 0.4s all ease-in-out;
    text-align: center;
}
.button-link:hover .button-label{
    background: transparent;
    padding: 0 initial;
    opacity: 1;
    text-shadow: 0px 0px 10px rgba(10, 10, 10);
}

.button-link:focus {
    outline: 2px solid gray;
}

.button-label {
    border-radius: 10px;
    text-decoration-style: none;
    height: 100%;
    box-sizing: border-box;
    background: rgba(10, 10, 10, 0.5);
    text-shadow: 0 0 10px rgba(10, 10, 10, 0.8);
    color: white;
    min-height: calc(20vh + 30px);
    opacity: 1;
    transition: 0.4s all ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.button-label.darker {
    background: rgba(10, 10, 10, 0.6);
}

/***** INPUT FORMS *****/ 

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }

  input[type=email], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #3e0774;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover { 
    background-color: #6310c8;
}
  
  /* Add a background color and some padding around the form */
  .formContainer {
    border-radius: 15px;
    background-color: #aeaeb5;
    padding: 20px;
    max-width: 75%;
    min-width: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  