<nav id="nav">
    <div class="dropdown">
        <a href="/index.html"><li class ="dropdownHeader">Home</li></a>
    </div>

    <div class="dropdown">
        <a href="/portfolio.html"><li class ="dropdownHeader">Portfolio</li></a>
        <div class="dropdownMenu">
            <a href="/heart-electric.html"><li class="dropdownOption">Heart Electric</li></a>
            <a href="/stampede.html"><li class="dropdownOption">Stampede: Racing Royale</li></a>
            <a href="/star-stable.html"><li class="dropdownOption">Star Stable Online</li></a>
            <a href="/portfolio.html#gamejam-projects"><li class="dropdownOption">Gamejam Projects</li></a>
            <a href="/portfolio.html#writing-projects"><li class="dropdownOption">Writing</li></a>
            <a href="/portfolio.html#community-building"><li class="dropdownOption">Community Building</li></a>
<!--            <a href="#"><li class="dropdownOption">Coding</li></a>-->
        </div>
    </div>
    
    <div class="dropdown">
        <a href="/about.html"><li class ="dropdownHeader">About</li></a>
        <div class="dropdownMenu">
            <a href="/about.html"><li class="dropdownOption">About Leila</li></a>
            <a href="/assets/CV_Leila_Hallenberg.pdf"><li class="dropdownOption">CV</li></a>
        </div>
    </div>

    <div class="dropdown">
    <a href="/contact.html"><li class ="dropdownHeader">Contact</li></a>
    </div>
</nav>